<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <table border="1" class="table-container">
        <tr>
            <th>Global</th>
            <th>Local</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>4</td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                6</a>

            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                7</a>
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>12
                
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>14
                
            </td>
        </tr>

        <div class="go-back-button">
            <form action="/" method="get">
                <button>
                    Go Back
                </button>
            </form>
        </div>
        
    </table>
</body>
</html>